<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="" >
    <link rel="Shortcut Icon" href="" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/admin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/admin/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/pagination.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>比赛列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 比赛管理 <span class="c-gray en">&gt;</span> 比赛列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

    <div class="row cl">
        <label class="form-label col-xs-1 col-sm-2" style="margin-left: 10%;">比赛名称：</label>
        <div class="formControls col-xs-2 col-sm-2"> <span class="select-box" style="width:310px;">
			<select id="match" class="select valid" name="match_id" size="1" aria-required="true" aria-invalid="false" style="width: 300px">
				<option value="" selected>请选择比赛</option>
                {foreach $matchs as $match}
                    <option value="{{$match.id}}">
                        【{{$match.match_name}}—{{$match.match_phase}}—{{$match.match_item}}】{{$match.athlete_A}} VS {{$match.athlete_B}}
                    </option>
                {/foreach}
			</select><label class="error valid" style="display: block;"></label>
			</span>
            </span><span class="l" style="margin-top: 10px"> <span id="search" href="#" class="btn btn-primary radius">搜索</span></span> </div>
    </div>
    </div>

    <table id="datalist" class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="13">比赛列表</th>
        </tr>
        <tr class="text-c">
            <th width="10">ID</th>
            <th width="15">比赛时间</th>
            <th width="50">比赛名称</th>
            <th width="15">比赛项目</th>
            <th width="15">比赛阶段</th>
            <th width="15">运动员A</th>
            <th width="15">运动员B</th>
            <th width="20">大比分</th>
            <th width="50">小比分</th>
            <th width="20">状态</th>
            <th width="10">操作</th>
        </tr>
        </thead>
        <!-- 使用DataTables插件填充数据 -->
    </table>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/admin//h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/admin/lib/laypage/1.2/laypage.js"></script>
</body>
<script>
    // console.log($('#match').children(':selected').val());
    var dataTable = $('#datalist').dataTable({
        //下拉分页数
        lengthMenu: [5, 10, 20],
        //分不分页（默认true）
        paging: true,
        //分页信息的显示（默认true）
        info: true,
        // 是否显示搜索 true/false  默认为true 建议为false
        searching: false,
        // 允许不允许排序 默认true
        ordering: true,
        // 默认指定排序的字段和规则
        order: [[0, 'asc']],
        // 保存状态 默认false
        stateSave: false,
        // 指定不进行排序的字段
        columnDefs: [{
            // 不进行排序操作的列
            "targets": [5, 6, 7, 8, 9, 10],
            "orderable": false
        }],
        // 加载时提示信息  此选项和ajax要配合使用，服务器端分页相集合
        processing: true,
        serverSide: true,
        ajax: {
            url: "/index.php/admin/matchscore/index",
            type: 'post',
            data: function (data) {
                data.match_id = $('#match').children(':selected').val() || '';
            }
        },
        columns: [
            {'data': 'id'},
            {'data': 'match_date'},
            {'data': 'match_name'},
            {'data': 'match_item'},
            {'data': 'match_phase'},
            {'data': 'athlete_a.athlete_name'},
            {'data': 'athlete_b.athlete_name'},
            {'data': 'big_score', "defaultContent": '大比分'},
            {'data': 'small_score', "defaultContent": '小比分'},
            {'data': 'state'},
            {'data': 'caoszuo', "defaultContent": '上线下线'},
        ],
        // 回调方法
        createdRow: function (row, data, dataIndex) {
            // 操作
            var action1 = $(row).find('td:last');
            action1.attr('class', 'td-manage');
            var html = '';
            if (data.state == '是') {
            html = `<a onClick="admin_stop(this)" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>`;
            } else {
                html = `<a style="text-decoration:none" onClick="admin_start(this)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe615;</i></a>`;
            }
            action1.html(html);

            // 上线状态
            var action2 = $(row).find('td:eq(9)');
            var html = '';
            action2.attr('class', 'td-status');
            if (data.state == '是') {
                html = `<span class="label label-success radius">已上线</span>`;
            } else {
                html = `<span class="label label-default radius">已下线</span>`;
            }
            action2.html(html);
        }
    });

    // 搜索
    $('#search').click(function () {
        // 重新加载让datatables请求数据
        dataTable.api().ajax.reload();
    });

    /*比赛-下线*/
    function admin_stop(obj,id){
        var id = $(obj).parents('tr').children('td:eq(0)').html();
        layer.confirm('请确认是否下线？',function(){
            $.ajax({
                type:'get',
                url:'/index.php/admin/match/statedown/'+id,
                success:function(data){
                    if (data.state == 1) {
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="admin_start(this)" href="javascript:;" title="上线"><i class="Hui-iconfont">&#xe615;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已下线</span>');
                        $(obj).remove();
                        layer.msg('下线成功!', {icon: 6,time:1000});
                    } else {
                        layer.msg('下线失败!', {icon: 5,time:1000});
                    }
                }
            });
        });
    }

    /*比赛-上线*/
    function admin_start(obj,id){
        var id = $(obj).parents('tr').children('td:eq(0)').html();
        layer.confirm('请确认本场比赛数据是否全部添加完毕？', function(){
            layer.confirm('请再次确认是否上线？', function(){
                // 获取大小比分
                var big_score = $(obj).parents('tr').children('td:eq(7)').html() || '暂无';
                var small_score = $(obj).parents('tr').children('td:eq(8)').html() || '暂无';
                // 发送ajax请求
                $.ajax({
                    type:'post',
                    url:'/index.php/admin/match/stateup/'+id,
                    data:{big_score:big_score, small_score:small_score},
                    success:function(data){
                        if (data.state == 1) {
                            $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this)" href="javascript:;" title="下线" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
                            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已上线</span>');
                            $(obj).remove();
                            layer.msg('上线成功!', {icon: 6,time:1000});
                        } else {
                            layer.msg('上线失败!', {icon: 5,time:1000});
                        }
                    }
                });
            });
        });
    }
</script>
</html>